@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input,
textarea,
select {
  color: #000000 !important;
}

p,
span,
div,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

@import "../src/components/Navigation.css";
@import "../src/components/Auth.css";
@import "../src/components/Dashboard.css";
@import "../src/components/TodoList.css";
@import "../src/components/TodoItem.css";
@import "../src/components/TodoForm.css";
@import "../src/components/LandingPage.css";
@import "../src/components/About.css";
@import "../src/components/Settings.css";
